<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CRUDサンプル</title>
</head>
<body>
<h1>View（参照）</h1>
> <a href="/list">一覧</a><br><br>

<table cellspacing="1" cellpadding="8" border="0" bgcolor="#999999">
  <tr>
    <td width="100" bgcolor="#EBEBEB">名前</td>
    <td width="250" bgcolor="#FFFFFF">{{ person.name }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">年齢</td>
    <td bgcolor="#FFFFFF">{{ person.age }} 歳</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">誕生日</td>
    <td bgcolor="#FFFFFF">{{ person.birthday|date:"Y年m月d日" }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">性別</td>
    <td bgcolor="#FFFFFF">{{ person.sex }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">電話番号</td>
    <td bgcolor="#FFFFFF">{{ person.tel }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">メールアドレス</td>
    <td bgcolor="#FFFFFF">{{ person.email }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">住所</td>
    <td bgcolor="#FFFFFF">{{ person.address }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">ブログ</td>
    <td bgcolor="#FFFFFF">{{ person.blog }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">管理者権限</td>
    <td bgcolor="#FFFFFF">{{ person.isAdmin }}</td>
  </tr>
  <tr>
    <td bgcolor="#EBEBEB">コメント</td>
    <td bgcolor="#FFFFFF">{{ person.comment }}</td>
  </tr>
</table>

</body>
</html>
